# Minikube Configuration
MINIKUBE_CPU=2
MINIKUBE_MEMORY=2048

# Docker Registry Configuration
DOCKER_REGISTRY=
DOCKER_USERNAME=
DOCKER_PASSWORD=

# Ingress Configuration
INGRESS_DOMAIN=ingress-test.local
